section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

fa-icon {
  font-size: 1.5em;
  padding: 0.2em;
  cursor: pointer;
}

p {
  display: inline;
  font-size: 1.5em;
  font-weight: 600;
}

label {
  margin: 5px 10px;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  font-size: 25px;
  padding-bottom: 0.3em;
}

h4 {
  font-size: 20px;
  display: inline;
}

ul > li {
  padding-bottom: 0.3em;
}

#groupHeader {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin: 0px 15px;
  color: #fff;
}

#groupHeader > div {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 15px 15px 0 15px;
  color: #fff;
}

#groupsControls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#groupCardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 1.5em 16px;
  background: rgb(247, 30, 69);
  background: linear-gradient(
    90deg,
    rgba(247, 30, 69, 1) 0%,
    rgba(252, 99, 86, 1) 35%,
    rgba(252, 159, 99, 1) 100%
  );
  color: #fff;
  border-radius: 10px 10px 0 0;
}

#groupCardHeader fa-icon {
  font-size: 2em;
}

#groupCardContainer {
  padding: 1.5em 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#viewMemberWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-right: 10px;
}
#viewMemberWrapper > div > div {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  color: rgb(247, 30, 69);
  cursor: pointer;
  margin: 2px 0;
}

#viewMemberWrapper > h4 {
  color: rgb(247, 30, 69);
}

#viewAllGroupsControl {
  cursor: pointer;
}
