<p-toast position="top-center" key="tc"></p-toast>
<section class="pageWrap">
  <div class="widthContainer">
    <div id="groupHeader">
      <div>
        <label for="groupSearch">Search groups</label>
        <input
          class="searchBar"
          id="groupSearch"
          type="text"
          name="search"
          [(ngModel)]="searchText"
          autocomplete="off"
          placeholder="Search groups"
        />
        <div id="groupsControls">
          <a routerLink="register-group" routerLinkActive="active">
            <fa-icon [icon]="faCirclePlus"></fa-icon>
            <p>Add Group</p>
          </a>
          <div
            *ngIf="searchText"
            id="viewAllGroupsControl"
            (click)="viewAllGroups()"
          >
            <fa-icon [icon]="faEye"></fa-icon>
            <p>View All Groups</p>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngFor="let group of groups | orderBy: 'group':false | filter: searchText"
      class="groupCard"
    >
      <div id="groupCardHeader">
        <div>
          <h2>{{ group.GroupName }}</h2>
          <h3>{{ group.CityName }}</h3>
        </div>
        <div>
          <fa-icon
            [icon]="faPenToSquare"
            (click)="editGroup(this.group)"
          ></fa-icon>
          <fa-icon
            [icon]="faTrash"
            (click)="confirmDelete(this.group)"
          ></fa-icon>
        </div>
      </div>
      <div id="groupCardContainer">
        <ul>
          <li>Primary Game: {{ group.PrimaryGame }}</li>
          <li>Meets: {{ group.MeetingDay }} at {{ group.MeetingTime }}</li>
          <li>Organizer: {{ group.OrganizerName }}</li>
          <li>Organizer Phone: {{ group.OrganizerPhone }}</li>
          <li>Organizer Email: {{ group.OrganizerEmail }}</li>
          <!-- <li>Max Group Size: {{ group.MaxGroupSize }}</li> -->
        </ul>
        <div id="viewMemberWrapper">
          <h4>
            Members: {{ group.Members.length }} / {{ group.MaxGroupSize }}
          </h4>
          <div>
            <div
              *ngIf="!atMaxCapacity(group.Members.length, group.MaxGroupSize)"
              (click)="addGroupMember(group)"
            >
              <fa-icon [icon]="faCirclePlus"></fa-icon>
              <h4>Add Member</h4>
            </div>
            <div (click)="viewGroupMembers(group)">
              <fa-icon [icon]="faUser"></fa-icon>
              <h4>View Members</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-confirmDialog
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"
  ></p-confirmDialog>
</section>
