<p-toast position="top-center" key="tc"></p-toast>
<section class="pageWrap">
  <div class="widthContainer">
    <div id="groupHeader">
      <div>
        <label for="groupSearch">Search groups</label>
        <input
          class="searchBar"
          id="groupSearch"
          type="text"
          name="search"
          [(ngModel)]="searchText"
          autocomplete="off"
          placeholder="Search groups"
        />
        <div id="groupsControls">
          <a routerLink="register-group" routerLinkActive="active">
            <fa-icon [icon]="faCirclePlus"></fa-icon>
            <p>Add Group</p>
          </a>
          <div
            *ngIf="searchText"
            id="viewAllGroupsControl"
            (click)="viewAllGroups()"
          >
            <fa-icon [icon]="faEye"></fa-icon>
            <p>View All Groups</p>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngFor="let group of groups | orderBy: 'group':true | filter: searchText"
      class="groupCard"
    >
      <div id="groupCardHeader">
        <div class="cardLogoAndInfo">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:svgjs="http://svgjs.com/svgjs"
            version="1.1"
            width="50"
            height="50"
            x="0"
            y="0"
            viewBox="0 0 511.996 511.996"
            style="enable-background: new 0 0 512 512"
            xml:space="preserve"
            class=""
          >
            <g>
              <path
                d="m255.998 0-221.701 127.999v255.998l221.701 127.999 221.701-127.999v-255.998zm-106.089 194.748h212.178l-106.089 183.75zm5.549-30 100.54-123.651 100.541 123.651zm71.785 223.945-157.355-25.244 56.815-148.896zm158.05-174.141 56.815 148.896-157.355 25.244zm6.347-54.187-72.66-89.362 113.719 65.656zm-271.283 0-41.061-23.706 113.72-65.656zm-15 25.981-41.06 107.606v-131.312zm135.641 234.937v47.412l-113.719-65.656zm30 0 113.719-18.244-113.719 65.656zm135.642-234.937 41.06-23.706v131.311z"
                fill="#ffffff"
                data-original="#000000"
                class=""
              />
            </g>
          </svg>
          <div>
            <h2>{{ group.GroupName }}</h2>
            <h3>{{ group.CityName }}</h3>
          </div>
        </div>
        <div>
          <fa-icon
            [icon]="faPenToSquare"
            (click)="editGroup(this.group)"
          ></fa-icon>
          <fa-icon
            [icon]="faTrash"
            (click)="confirmDelete(this.group)"
          ></fa-icon>
        </div>
      </div>
      <div id="groupCardContainer">
        <ul>
          <li>Primary Game: {{ group.PrimaryGame }}</li>
          <li>
            Meets: {{ group.MeetingDay }} at
            {{ group.MeetingTime | convertTime24To12 }}
          </li>
          <li>Organizer: {{ group.OrganizerName }}</li>
          <li>Organizer Phone: {{ group.OrganizerPhone }}</li>
          <li>Organizer Email: {{ group.OrganizerEmail }}</li>
        </ul>
        <div id="viewMemberWrapper">
          <h4>
            Members: {{ group.Members.length }} / {{ group.MaxGroupSize }}
          </h4>
          <div>
            <div
              *ngIf="!atMaxCapacity(group.Members.length, group.MaxGroupSize)"
              (click)="addGroupMember(group)"
            >
              <fa-icon class="greenIcon" [icon]="faCirclePlus"></fa-icon>
              <h4>Add Member</h4>
            </div>
            <div (click)="viewGroupMembers(group)">
              <fa-icon class="blueIcon" [icon]="faUser"></fa-icon>
              <h4>View Members</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-confirmDialog
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"
  ></p-confirmDialog>
</section>
