section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

fa-icon {
  font-size: 2em;
  padding: 0.2em;
  cursor: pointer;
}

p {
  display: inline;
  font-size: 2em;
  font-weight: 600;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  font-size: 25px;
  padding-bottom: 0.3em;
}

h4 {
  font-size: 20px;
  display: inline;
}

ul > li {
  padding-bottom: 0.3em;
}

#viewMemberWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 10px;
}
#viewMemberWrapper > div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: rgb(247, 30, 69);
  cursor: pointer;
}
