section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin: 20px;
}

form {
  margin: 30px;
}

form > * {
  margin: 1.2em;
}

#usernameUnavailable {
  color: #f00;
}

#usernameAvailable {
  color: #008000;
}

.formContainer {
  max-width: 600px;
}
