<section>
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" />
    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username" />
    <input
      type="button"
      id="checkAvailability"
      value="Check Availabilty"
      (click)="checkUsernameAvailability(this.registerForm.value)"
    />
    <p *ngIf="!usernameAvailable && availabilityChecked">
      Username is unavailable.
    </p>
    <label for="password">Password:</label>
    <input type="text" id="password" formControlName="password" />
    <p *ngIf="!availabilityChecked">
      Please check username availability before submitting.
    </p>
    <input
      *ngIf="usernameAvailable && availabilityChecked"
      type="submit"
      id="register-form"
      value="Submit"
    />
  </form>
</section>
