header {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  width: 100%;
}

header > * {
  padding: 10px;
}

header > h1 {
  margin: 0px;
  padding-left: 10px;
}

img {
  height: 50px;
  width: 50px;
  display: inline;
}

#title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
