header {
  display: flex;
  flex-direction: column;
}

header > * {
  padding: 10px;
}

header > h1 {
  margin: 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 0px;
}

#navBar ul {
  padding: 0px;
  margin: 0px;
}

#navBar li {
  display: inline;
  font-weight: bold;
  padding: 0px 2px;
}

#navLogin {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-weight: bold;
}

.loginBtn--loggedOut {
  background-color: #f00;
}
