<section>
  <h2 *ngIf="newGroup">Register New Group</h2>
  <h2 *ngIf="!newGroup">Edit Group</h2>
  <form [formGroup]="groupForm" (ngSubmit)="onSubmit(groupForm.value)">
    <h3>Group Details</h3>
    <div class="grid p-fluid">
      <div class="col-12 md:col-4">
        <span class="p-float-label">
          <p-dropdown
            inputId="cityname"
            class="p-inputtext-lg"
            id="CityName"
            [options]="cities"
            formControlName="CityName"
            [autoDisplayFirst]="true"
          ></p-dropdown>
          <label for="cityname">Select a City</label>
        </span>
      </div>
      <div class="col-12 md:col-8">
        <span class="p-float-label">
          <input
            type="text"
            id="GroupName"
            class="p-inputtext-lg"
            formControlName="GroupName"
            pInputText
          />
          <label for="GroupName">Group Name</label>
        </span>
      </div>
    </div>
    <div class="grid p-fluid">
      <div class="col-12 md:col-4">
        <span class="p-float-label">
          <input
            type="text"
            id="MaxGroupSize"
            class="p-inputtext-lg"
            formControlName="MaxGroupSize"
            pInputText
          />
          <label for="MaxGroupSize">Max group size</label>
        </span>
      </div>
      <div class="col-12 md:col-8">
        <span class="p-float-label">
          <input
            type="text"
            id="PrimaryGame"
            class="p-inputtext-lg"
            formControlName="PrimaryGame"
            pInputText
          />
          <label for="PrimaryGame">Primary Game</label>
        </span>
      </div>
    </div>
    <h3>What day and time will the group meet?</h3>
    <div class="grid p-fluid">
      <div class="col 12 md:col-4">
        <span class="p-float-label">
          <p-dropdown
            inputId="meetingday"
            [options]="meetingDays"
            formControlName="MeetingDay"
            class="p-inputtext-lg"
            [autoDisplayFirst]="true"
          ></p-dropdown>
          <label for="meetingday">Select a Meeting Day</label>
        </span>
      </div>
      <div class="col 12 md: col-4">
        <input
          type="time"
          id="MeetingTime"
          class="p-inputtext-lg"
          formControlName="MeetingTime"
          pInputText
        />
      </div>
    </div>
    <h3>Organizer Details</h3>
    <div class="grid p-fluid">
      <div class="col-12 md:col-4">
        <span class="p-float-label">
          <input
            type="text"
            id="OrganizerName"
            class="p-inputtext-lg"
            formControlName="OrganizerName"
            pInputText
          />
          <label for="OrganizerName">Organizer Name</label>
        </span>
      </div>
      <div class="col-12 md:col-4">
        <span class="p-float-label">
          <p-inputMask
            mask="(999) 999-9999"
            type="tel"
            id="OrganizerPhone"
            class="p-inputtext-lg"
            formControlName="OrganizerPhone"
            placeholder="999-999-9999"
          ></p-inputMask>
          <label for="OrganizerPhone">Organizer Phone</label>
        </span>
      </div>
      <div class="col-12 md:col-4">
        <span class="p-float-label">
          <input
            type="email"
            id="OrganizerEmail"
            class="p-inputtext-lg"
            formControlName="OrganizerEmail"
            pInputText
          />
          <label for="OrganizerEmail">Organizer Email</label>
        </span>
      </div>
    </div>
    <button
      pButton
      pRipple
      type="submit"
      label="Submit"
      class="p-button-raised p-button-secondary"
    ></button>
  </form>
</section>
