section {
  margin: 20px 10vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  align-content: left;
  background-color: #fff;
  border-radius: 10px;
}

h2 {
  font-size: 30px;
  margin: 20px 0 0 20px;
}

form {
  margin: 30px;
}

form > * {
  margin: 1.2em;
}

#MeetingTime {
  padding: 10px;
}
