<p-toast position="top-center" key="tc"></p-toast>
<section class="formContainer">
  <h2 *ngIf="newGroup">Register New Group</h2>
  <h2 *ngIf="!newGroup">Edit Group</h2>
  <form [formGroup]="groupForm" (ngSubmit)="onSubmit(groupForm.value)">
    <h3>Group Details</h3>
    <div class="grid p-fluid">
      <div class="col-12 md:col-4">
        <span class="p-float-label">
          <p-dropdown
            inputId="cityname"
            id="CityName"
            class="p-inputtext-lg"
            [options]="cities"
            formControlName="CityName"
            [autoDisplayFirst]="true"
            placeholder="Select a City"
          ></p-dropdown>
          <label for="cityname"
            >Select a City<span class="required">*</span></label
          >
        </span>
      </div>
      <div class="col-12 md:col-8">
        <span class="p-float-label">
          <input
            type="text"
            id="groupName"
            formControlName="GroupName"
            pInputText
          />
          <label
            *ngIf="
              groupForm.controls['GroupName'].valid ||
              !groupForm.controls['GroupName'].touched
            "
            for="GroupName"
            >Group Name<span class="required">*</span></label
          >
          <label
            *ngIf="
              !groupForm.controls['GroupName'].valid &&
              groupForm.controls['GroupName'].touched
            "
            for="GroupName"
            >Enter a valid Group Name<span class="required">*</span></label
          >
        </span>
      </div>
    </div>
    <div class="grid p-fluid">
      <div class="col-12 md:col-4">
        <span class="p-float-label">
          <input
            type="text"
            id="MaxGroupSize"
            formControlName="MaxGroupSize"
            pInputText
          />
          <label
            *ngIf="
              groupForm.controls['MaxGroupSize'].valid ||
              !groupForm.controls['MaxGroupSize'].touched
            "
            for="MaxGroupSize"
            >Max group size<span class="required">*</span></label
          >
          <label
            *ngIf="
              !groupForm.controls['MaxGroupSize'].valid &&
              groupForm.controls['MaxGroupSize'].touched
            "
            for="MaxGroupSize"
            >Enter a Max Group Size<span class="required">*</span></label
          >
        </span>
      </div>
      <div class="col-12 md:col-8">
        <span class="p-float-label">
          <input
            type="text"
            id="PrimaryGame"
            formControlName="PrimaryGame"
            pInputText
          />
          <label
            *ngIf="
              groupForm.controls['PrimaryGame'].valid ||
              !groupForm.controls['PrimaryGame'].touched
            "
            for="PrimaryGame"
            >Primary Game<span class="required">*</span></label
          >
          <label
            *ngIf="
              !groupForm.controls['PrimaryGame'].valid &&
              groupForm.controls['PrimaryGame'].touched
            "
            for="PrimaryGame"
            >Enter a valid Primary Game<span class="required">*</span></label
          >
        </span>
      </div>
    </div>
    <h3>
      What day and time will the group meet?<span class="required">*</span>
    </h3>
    <div class="grid p-fluid">
      <div class="col 12 md:col-4">
        <span class="p-float-label">
          <p-dropdown
            inputId="meetingday"
            class="p-inputtext-lg"
            [options]="meetingDays"
            formControlName="MeetingDay"
            [autoDisplayFirst]="true"
            placeholder="Select a Meeting Day"
          ></p-dropdown>
          <label for="meetingday">Select a Meeting Day</label>
        </span>
      </div>
      <div class="col 12 md: col-4">
        <input
          type="time"
          id="meetingTime"
          class="p-inputtext-lg"
          formControlName="MeetingTime"
          pInputText
        />
      </div>
    </div>
    <h3>Organizer Details</h3>
    <div class="grid p-fluid">
      <div class="col-12 md:col-4">
        <span class="p-float-label">
          <input
            type="text"
            id="OrganizerName"
            class="p-inputtext-lg"
            formControlName="OrganizerName"
            pInputText
          />
          <label
            *ngIf="
              groupForm.controls['OrganizerName'].valid ||
              !groupForm.controls['OrganizerName'].touched
            "
            for="OrganizerName"
            >Organizer Name<span class="required">*</span></label
          >
          <label
            *ngIf="
              !groupForm.controls['OrganizerName'].valid &&
              groupForm.controls['OrganizerName'].touched
            "
            for="OrganizerName"
            >Enter a valid Organizer Name<span class="required">*</span></label
          >
        </span>
      </div>
      <div class="col-12 md:col-4">
        <span class="p-float-label">
          <p-inputMask
            mask="(999) 999-9999"
            type="tel"
            id="OrganizerPhone"
            class="p-inputtext-lg"
            formControlName="OrganizerPhone"
            placeholder="999-999-9999"
          ></p-inputMask>
          <label
            *ngIf="
              groupForm.controls['OrganizerPhone'].valid ||
              !groupForm.controls['OrganizerPhone'].touched
            "
            for="OrganizerPhone"
            >Organizer Phone<span class="required">*</span>
          </label>
          <label
            *ngIf="
              !groupForm.controls['OrganizerPhone'].valid &&
              groupForm.controls['OrganizerPhone'].touched
            "
            for="OrganizerPhone"
            >Enter a valid Organizer Phone<span class="required">*</span></label
          >
        </span>
      </div>
      <div class="col-12 md:col-4">
        <span class="p-float-label">
          <input
            type="email"
            id="OrganizerEmail"
            class="p-inputtext-lg"
            formControlName="OrganizerEmail"
            pInputText
          />
          <label
            *ngIf="
              groupForm.controls['OrganizerEmail'].valid ||
              !groupForm.controls['OrganizerEmail'].touched
            "
            for="OrganizerEmail"
            >Organizer Email<span class="required">*</span></label
          >
          <label
            *ngIf="
              !groupForm.controls['OrganizerEmail'].valid &&
              groupForm.controls['OrganizerEmail'].touched
            "
            for="OrganizerEmail"
            >Enter a valid Organizer Email<span class="required">*</span></label
          >
        </span>
      </div>
    </div>
    <button
      pButton
      pRipple
      type="submit"
      label="Submit"
      class="p-button-raised p-button-secondary"
      [disabled]="!groupForm.valid"
    ></button>
  </form>
</section>
