h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  text-align: center;
  color: #fff;
  margin-top: 1em;
  font-size: 18pt;
}

.centerColumnFlex {
  margin-top: 15vh;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

h3 {
  font-size: 20px;
  color: #000;
}

img {
  border-radius: 10px 10px 0 0;
}

.cityCard {
  margin: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 1);
  transition: 0.2s;
  background-color: #fff;
  /* background: rgb(138, 60, 184);
  background: linear-gradient(
    90deg,
    rgba(138, 60, 184, 1) 0%,
    rgba(180, 96, 231, 1) 35%,
    rgba(236, 183, 255, 1) 100%
  ); */
}

.cityCard:hover {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 1);
  cursor: pointer;
}

.cityCardContainer {
  padding: 1.5em 16px;
}
