h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  text-align: center;
  color: #fff;
  margin-top: 1em;
}

h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  text-align: center;
  color: #fff;
  margin-top: 1em;
  font-size: 18pt;
}

h3 {
  font-size: 20px;
  color: #000;
}

section > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

img {
  border-radius: 10px 10px 0 0;
}

.centerColumnFlex {
  margin-top: 15vh;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.cityCard {
  margin: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 1);
  transition: 0.2s;
  background-color: #fff;
}

.cityCard:hover {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 1);
  cursor: pointer;
}

.cityCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 1.5em 16px;
}

#landingTitles {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  width: 100%;
}

p-button {
  margin-top: 25px;
}

:host::ng-deep .p-button {
  background: #fa4350;
  border: #fa4350;
}

:host::ng-deep .p-button:hover {
  background: rgba(247, 30, 69, 1) 0%;
  border: #fa4350;
}
