<div class="centerColumnFlex page-wrap">
  <h2>Find a Tabletop Gaming Group in your City</h2>
  <section>
    <div
      *ngFor="let city of cities"
      class="cityCard"
      (click)="showGroups(city)"
    >
      <img
        src="../../../assets/images/cities/{{ city.CityName }}.jpg"
        alt="A picture of the city of {{ city.CityName }}."
        width="300px"
        height="200px"
        onerror="this.src='../../../assets/images/cities/cityfallback.jpg'"
      />
      <div class="cityCardContainer">
        <h3>{{ city.CityName }}</h3>
        <img
          src="../../../assets/images/d20s/d20frame.svg"
          alt="A wireframe image of a D20 die."
          width="30px"
          height="30px"
        />
      </div>
    </div>
  </section>
</div>
