<section>
  <form [formGroup]="regGroupForm" (ngSubmit)="onSubmit(regGroupForm.value)">
    <label for="cityName">Select your city:</label>
    <select id="cityName" size="1" formControlName="cityName">
      <option *ngFor="let city of cities" value="{{ this.city }}">
        {{ this.city }}
      </option>
    </select>
    <label for="groupName">Group Name:</label>
    <input type="text" id="groupName" formControlName="groupName" />
    <label for="organizerName">Organizer Name:</label>
    <input type="text" id="organizerName" formControlName="organizerName" />
    <label for="organizerPhone">Organizer Phone:</label>
    <input type="tel" id="organizerPhone" formControlName="organizerPhone" />
    <label for="organizerEmail">Organizer Email:</label>
    <input type="email" id="organizerEmail" formControlName="organizerEmail" />
    <label for="primaryGame">Primary Game:</label>
    <input type="text" id="primaryGame" formControlName="primaryGame" />
    <label for="meetingWeekDay">What day do you meet?</label>
    <select id="meetingWeekDay" size="1" formControlName="meetingWeekDay">
      <option *ngFor="let day of days" value="{{ this.day }}">
        {{ this.day }}
      </option>
    </select>
    <label for="meetingTime">What time do you meet?</label>
    <input type="time" id="meetingTime" formControlName="meetingTime" />
    <label for="maxGroupSize">Max group size:</label>
    <input type="text" id="maxGroupSize" formControlName="maxGroupSize" />
    <input type="submit" id="register-group" value="Register" />
  </form>
</section>
