<div class="container">
  <tg-header></tg-header>
  <main>
    <div class="centerColumnFlex">
      <h2>Find a Tabletop Gaming Group in your City</h2>
      <section id="cityCards">
        <div id="cityCardsTopRow">
          <tg-city-card></tg-city-card>
          <tg-city-card></tg-city-card>
        </div>
        <div id="cityCardsBottomRow">
          <tg-city-card></tg-city-card>
          <tg-city-card></tg-city-card>
        </div>
      </section>
    </div>
  </main>
  <tg-footer></tg-footer>
</div>
