main h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  text-align: center;
  color: #fff;
  margin-top: 1em;
  font-size: 18pt;
}

#cityCards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.centerColumnFlex {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
