<section>
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div class="grid p-fluid">
      <div class="col-12 md:col-8">
        <span class="p-float-label">
          <input
            type="text"
            id="username"
            class="p-inputtext-lg"
            formControlName="username"
            pInputText
          />
          <label
            *ngIf="
              loginForm.controls['username'].valid ||
              !loginForm.controls['username'].touched
            "
            for="username"
            >Username</label
          >
          <label
            *ngIf="
              !loginForm.controls['username'].valid &&
              loginForm.controls['username'].touched
            "
            for="username"
            >Enter a valid username</label
          >
        </span>
      </div>
    </div>
    <div class="grid p-fluid">
      <div class="col-12 md:col-8">
        <span class="p-float-label">
          <p-password
            type="text"
            id="password"
            [feedback]="false"
            class="p-inputtext-lg"
            formControlName="password"
          ></p-password>
          <label
            *ngIf="
              loginForm.controls['password'].valid ||
              !loginForm.controls['password'].touched
            "
            for="password"
            >Password</label
          >
          <label
            *ngIf="
              !loginForm.controls['username'].valid &&
              loginForm.controls['username'].touched
            "
            for="password"
            >Enter a valid password</label
          >
        </span>
      </div>
    </div>
    <button
      pButton
      pRipple
      type="submit"
      label="Submit"
      class="p-button-raised p-button-secondary"
      [disabled]="!loginForm.valid"
    ></button>
  </form>
</section>
