section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin: 20px;
}

form {
  margin: 30px;
}

form > * {
  margin: 1.2em;
}

a {
  color: #fa4350;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.formContainer {
  max-width: 600px;
}
