<section class="page-wrap">
  <div id="groupCard">
    <div id="groupCardHeaderSolo">
      <div>
        <h2>{{ currentGroup.GroupName }}</h2>
        <h3>{{ currentGroup.CityName }}</h3>
      </div>
    </div>
  </div>
  <div id="memberHeader">
    <a routerLink="register-member" routerLinkActive="active">
      <fa-icon [icon]="faCirclePlus"></fa-icon>
      <p>Add Member</p>
    </a>
  </div>
  <div *ngFor="let member of members" id="memberCard">
    <div id="memberCardHeader">
      <div>
        <h2>{{ member.MemberName }}</h2>
      </div>
      <div>
        <fa-icon
          [icon]="faPenToSquare"
          (click)="editMember(this.member, this.currentGroup)"
        ></fa-icon>
        <fa-icon
          [icon]="faTrash"
          (click)="deleteMember(this.member, this.currentGroup)"
        ></fa-icon>
      </div>
    </div>
    <div id="memberCardContainer">
      <ul>
        <li>Phone: {{ member.MemberPhone }}</li>
        <li>Email: {{ member.MemberEmail }}</li>
      </ul>
    </div>
  </div>
</section>
