<p-toast position="top-center" key="tc"></p-toast>
<section class="pageWrap">
  <div class="widthContainer">
    <div class="groupCard" routerLink="/groups" routerLinkActive="active">
      <div id="groupCardHeaderSolo">
        <div>
          <h2>{{ currentGroup.GroupName }}</h2>
          <h3>{{ currentGroup.CityName }}</h3>
        </div>
        <div>
          <h2>
            Members: {{ currentGroup.Members.length }} /
            {{ currentGroup.MaxGroupSize }}
          </h2>
        </div>
      </div>
    </div>
    <div id="memberHeader">
      <div>
        <label for="memberSearch">Search group members</label>
        <input
          class="searchBar"
          id="memberSearch"
          type="text"
          name="search"
          [(ngModel)]="searchText"
          autocomplete="off"
          placeholder="Search group members"
        />
        <div id="membersControls">
          <div>
            <a
              *ngIf="!atMaxCapacity(members.length, currentGroup.MaxGroupSize)"
              routerLink="register-member"
              routerLinkActive="active"
            >
              <fa-icon [icon]="faCirclePlus"></fa-icon>
              <p>Add Group Member</p>
            </a>
          </div>
          <div
            *ngIf="searchText"
            id="viewAllMembersControl"
            (click)="searchText = ''"
          >
            <fa-icon [icon]="faEye"></fa-icon>
            <p>View All Group Members</p>
          </div>
        </div>
      </div>
    </div>
    <section id="memberCardSection">
      <div
        *ngFor="
          let member of members | orderBy: 'member':true | filter: searchText
        "
        id="memberCard"
      >
        <div id="memberCardHeader">
          <div>
            <h2>{{ member.MemberName }}</h2>
          </div>
          <div>
            <fa-icon
              [icon]="faPenToSquare"
              (click)="editMember(this.member)"
            ></fa-icon>
            <fa-icon
              [icon]="faTrash"
              (click)="confirmDelete(this.member, this.currentGroup)"
            ></fa-icon>
          </div>
        </div>
        <div id="memberCardContainer">
          <ul>
            <li>Phone: {{ member.MemberPhone }}</li>
            <li>Email: {{ member.MemberEmail }}</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <p-confirmDialog
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"
  ></p-confirmDialog>
</section>
