<nav>
  <section id="navBar">
    <ul>
      <li><a routerLink="cities" routerLinkActive="active">HOME</a></li>
      <li><a routerLink="groups" routerLinkActive="active">GROUPS</a></li>
      <li><a routerLink="members" routerLinkActive="active">MEMBERS</a></li>
    </ul>
  </section>
  <section id="navLogin">
    <ul>
      <li><a routerLink="register" routerLinkActive="active">REGISTER</a></li>
      <li><a routerLink="login" routerLinkActive="active">LOGIN</a></li>
    </ul>
  </section>
</nav>
