/* You can add global styles to this file, and also import other style files */
@import url(./assets/styles/reset.css);
@import url(./assets/styles/normalize.css);

body {
  background-image: url(./assets/images/background.jpg);
  background-attachment: fixed;
  height: 100vh;
}

.headerFooter {
  background-color: #fff;
  color: #000;
  width: 100%;
}

.cardLogoAndInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.cardLogoAndInfo > * {
  margin-right: 10px;
}

.formLogoAndTitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin: 20px 0 0 20px;
}

.formLogoAndTitle > h2 {
  font-size: 30px;
  margin-left: 5px;
}

.groupCard {
  margin: 15px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 1);
  transition: 0.2s;
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
}

.groupCard:hover {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 1);
}

.searchBar {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 1);
  border-radius: 25px;
  color: #000;
}

.widthContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  max-width: 60vw;
  width: 60vw;
  min-width: 600px;
}

.required:after {
  color: #f00;
  content: "*";
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  align-content: left;
  background-color: #fff;
  border-radius: 10px;
}

.formButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.formButtons > * {
  margin-right: 10px;
}

.formErrorMessage {
  color: #f00;
}

.pageWrap {
  min-height: 100%;
  margin-bottom: -40px;
}

.pageWrap:after {
  content: "";
  display: block;
  height: 60px;
}

input.ng-touched.ng-invalid {
  color: #e24c4c;
  border-color: #e24c4c;
}

p-dropdown.ng-touched.ng-invalid > * {
  color: #e24c4c;
  border-color: #e24c4c;
}

.ng-touched.ng-invalid + label {
  color: #e24c4c;
}

.blueIcon {
  color: #71a2b6;
}

.greenIcon {
  color: #618b4a;
}

.redIcon {
  color: #880000;
}
