/* You can add global styles to this file, and also import other style files */
@import url(./assets/styles/reset.css);
@import url(./assets/styles/normalize.css);

body {
  background-image: url(./assets/images/background.jpg);
  background-attachment: fixed;
  height: 100vh;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -40px;
}

.page-wrap:after {
  content: "";
  display: block;
  height: 60px;
}

#groupCard {
  margin: 15px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 1);
  transition: 0.2s;
  background-color: #fff;
  max-width: 50vw;
  min-width: 600px;
  width: 50vw;
  border-radius: 10px;
}

#groupCard:hover {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 1);
}

#groupCardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 1.5em 16px;
  background: rgb(247, 30, 69);
  background: linear-gradient(
    90deg,
    rgba(247, 30, 69, 1) 0%,
    rgba(252, 99, 86, 1) 35%,
    rgba(252, 159, 99, 1) 100%
  );
  color: #fff;
  border-radius: 10px 10px 0 0;
}

#groupCardContainer {
  padding: 1.5em 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#groupHeader {
  max-width: 50vw;
  margin: 15px 15px 0 15px;
  color: #fff;
}
